.m-inherit {
    margin: inherit !important;
}

.select2-selection__rendered {
    line-height: 44px !important;
}

.select2-selection {
    height: 45px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
}

.ml-15 {
    margin-left: 15px;
}

.obj-fit-cov {
    object-fit: cover;
}

.hw-100 {
    height: 100px;
    width: 100px;
}

.hw-80 {
    height: 80px;
    width: 80px;
}

.h-100 {
    height: 100px;
}

.image_off,
#home:hover .image_on {
    display: none
}

.image_on,
#home:hover .image_off {
    display: block
}

.max-hw-80 {
    max-width: 80px;
    max-height: 80px;
}

.max-hw-250 {
    max-width: 250px;
    max-height: 250px;
}

.hw-250 {
    height: 250px;
    width: 250px;
}

.ptb-30p {
    padding-top: 30%;
    padding-bottom: 30%;
}

table.dataTable th,
table.dataTable td {
    max-width: 250px;
    overflow: hidden;
    word-break: normal;
    word-wrap: normal;
}

.w-315 {
    /* width: 315px; */
}

.max-hw-315 {
    /* max-width: 315px; */
    max-height: 315px;
}

.hw-90 {
    height: 90px;
    width: 90px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.mt-6px {
    margin-top: 6px !important;
}

.min-h-70vh{
    min-height: 70vh;
}
.navbar-vertical .navbar-collapse::before{
    margin: 0px;
}
.width-max-150{
    max-width: 150px;
}

@media screen and (min-width: 768px) and (max-width:1365px) {
    .main-content .container-fluid{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .card-header {
        padding: 0.5rem 1.5rem;
    }
    table.table{
        float: left;
        position: relative;
        display: inline-block;
        overflow-x: scroll;
    }
    table.md-responsive{
        display: table;
    }
}

/* Overide Login */
.over-login {
    margin-top: 5rem!important;
}
/* Overide Dashboard */
.dashboard-over {
    background:linear-gradient(87deg,#e33932,#e33932)!important
}
.bg-gradient-primary{background:linear-gradient(87deg,#283267,#382867)!important}
/* Sideuser Info Profile */
.sideuser-info.mt1 {
    margin-top: 1rem;
}
/* Button Pull Right */
.pull-right {
    float: right;
    margin-top: 1.5rem;
}
/* Input */
.radio {
    margin-right: 0.5rem;
}